#container {


}


.box {
    display: flex;
    flex-direction: row;
    //background-color: green;
    border-radius: 5px;

}

div.text-center.col-12.btn{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}